/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */
$md-conpay: (
  50: #fef0ee,
  100: #fed9d5,
  200: #fdc0b9,
  300: #fca69c,
  400: #fb9387,
  500: #fa8072,
  600: #f9786a,
  700: #f96d5f,
  800: #f86355,
  900: #f65042,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe3e1,
  A700: #ffccc8,
  contrast: (
    50: #5e5e5e,
    100: #5e5e5e,
    200: #5e5e5e,
    300: #5e5e5e,
    400: #5e5e5e,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #5e5e5e,
    A200: #5e5e5e,
    A400: #5e5e5e,
    A700: #5e5e5e
  )
);

@import "~@angular/material/theming";
@include mat-core();

$conpay-app-primary: mat-palette($md-conpay);
$conpay-app-accent: mat-palette($md-conpay, A200, A100, A400);
$conpay-app-warn: mat-palette($mat-red);
$conpay-app-theme: mat-light-theme($conpay-app-primary, $conpay-app-accent, $conpay-app-warn);
@include angular-material-theme($conpay-app-theme);
